.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: $tablet) {
    max-width: 768px;
  }
  @media (min-width: $desktop) {
    max-width: 1200px;
  }
  &--header-box {
    display: flex;
    align-items: center;
  }
  &--footer-box {
    display: flex;
    align-items: baseline;
  }
}
