.container {
  min-width: 320px;
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: $tablet) {
    max-width: 768px;
  }
  @media (min-width: $desktop) {
    max-width: 1200px;
  }
  &--header-box {
    display: flex;
    align-items: center;
    position: relative;
  }
  &--footer-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 60px;
    @media (min-width: $desktop) {
      flex-direction: row;
      gap: 78px;
    }
  }
}

.container-contact-join-us {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 144px;
    align-items: baseline;
  }
  @media (min-width: $desktop) {
    gap: 70px;
  }
}
