.header-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  list-style-type: none;
  padding-left: 0;
  margin-left: auto;
  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
  &__item {
    &:not(:last-child) {
      padding: 0;
      margin-bottom: 10px;
      @media (min-width: $desktop) {
        margin-right: 30px;
        margin-bottom: 0px;
      }
    }
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    transition: $transition;
    &:hover,
    &:focus {
      color: $active-color;
      cursor: pointer;
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 8px;
    @media (min-width: $desktop) {
      margin-right: 10px;
    }
  }
}
