.main-navigation {
  display: flex;
  gap: 93px;
  align-items: center;
  padding: 0;
  &__link {
    @extend %link;
    &--current {
      color: $active-color;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -34px;
        height: 4px;
        background-color: $active-color;
        border-radius: 2px;
      }
    }
    &:hover,
    &:focus {
      color: $active-color;
    }
    &--logo {
      font-family: $font-family-logo;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      &:hover,
      &:focus {
        color: currentColor;
      }
    }
    &--logo-highlight {
      color: $active-color;
    }
  }
  &__menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding-left: 0;
  }
  &__item {
    display: inline-block;
  }
  &__item:not(:last-child) {
    padding: 0;
    margin-right: 43px;
  }
}
