.work-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    @media (min-width: $tablet) {
      width: calc((100% - 30px) / 2);
    }
    @media (min-width: $desktop) {
      width: calc((100% - 90px) / 4);
    }
  }
  &__icon-box {
    background-color: $button-background-color;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
