h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

%link {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
  transition: $transition;
}

%link-current {
  color: $active-color;
}

.section {
  padding: 60px 0;
  @media (min-width: $desktop) {
    padding: 94px 0;
  }
}

.section--work-list {
  padding: 60px 0;
  @media (min-width: $tablet) {
    padding-bottom: 45px;
  }
  @media (min-width: $desktop) {
    padding: 94px 0;
  }
}

%image-no-gap {
  display: block;
}
